page-home {

  .home-header {padding-top: 8%;
    padding-bottom: 3%;
    font-size: 1.7rem;
  }
ion-content

  .refresh-button{ color:#305680 !important; font-size: 30px;
  }

ion-icon {

  color: white;
}
  toolbar-title toolbar-title-md {
    font-size: 20rem;
  }
}
