page-home {

 toolbar-title toolbar-title-md {
   font-size: 20rem;
 }

 ion-row{
   height: 60px;
   font-size: 1.7rem;
 }

 ion-icon {

   color: white;
   font-size: 3.7rem;
   font-weight: bold;

 }

 h6 {
   margin-top: 5px;
 }
}
