@font-face {
  font-family: 'icomoon';
  //src:  url('../assets/fonts/icomoon.eot?lapvqe');
  //src:  url('../assets/fonts/icomoon.eot?lapvqe#iefix') format('embedded-opentype'),
  src: url('../assets/fonts/icomoon.ttf?lapvqe') format('truetype');
   // url('fonts/icomoon.woff?lapvqe') format('woff'),
   // url('fonts/icomoon.svg?lapvqe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-neuneu:before {
  content: "\e900";
}
